/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Poppins', sans-serif;
    background: #f4f6fb;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container */
.container {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-weight: 600;
    color: #333;
}

.header p {
    font-size: 14px;
    color: #777;
}

/* Input */
.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
}

.input-area input:focus {
    border-color: #5a67d8;
    box-shadow: 0 0 0 2px rgba(90, 103, 216, 0.2);
}

.input-area button {
    padding: 12px 16px;
    border: none;
    background: #5a67d8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.input-area button:hover {
    background: #434190;
}

/* Filtros */
.filters {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.filter-btn {
    flex: 1;
    padding: 8px;
    border: none;
    background: #edf2f7;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
}

.filter-btn.active {
    background: #5a67d8;
    color: white;
}

/* Lista */
.task-list {
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
}

/* Item */
.task {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f9fafc;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.task:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.task.completed span {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Texto */
.task span {
    flex: 1;
    font-size: 14px;
}

/* Botão delete */
.delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.delete-btn:hover {
    transform: scale(1.2);
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.footer button {
    border: none;
    background: rgb(0, 0, 0);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.footer button:hover {
    background: rgba(0, 0, 0, 0.788);
}